<% if @current_user %>

  <h1 class= "mb-3" > <%= @place["name"] %></h1>

  <p>
    <a class= "btn btn-primary "href="/posts/new?place_id=<%= @place["id"] %>">New Post</a>
  </p>

  <div class="row mb-3">
    <% for post in @posts %>
      <div class="col-md-4">
        <h3><%= post["title"] %></h3>
        <h4><%= post["posted_on"] %></h4>
        <p><%= post["description"] %></p>
      </div>
    <% end %>
  </div>



  <p>
    <a class= "btn btn-primary" href="/places">Back to All Places</a>
  </p>

<% end %>